*{
    padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Texturina', serif;



}
body {overflow-x:hidden}

#i1{

    width: 1350px;
    height: 100px;
}
.hero_image{
    background-image: url(imges/laptop-3174729_1920.jpg);

    
    transition: 4s;
    background-position: center;
background-color: teal;
   height: 100vh;
position: relative; 
background-repeat: no-repeat;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Canta ;
}
.manu-bar{
    background-color: ; 
     text-align:center ;
    
     
 }
 .manu-bar ul{
     display: inline-flex;
     list-style: none;
     color: #fff;
     
 }
 .manu-bar ul li{
     width: 120px;
     margin: 10px;
     padding: 15px;
     
 }
 .manu-bar ul li a{
    text-decoration: none;
    color: white; 
 }
 .active,.manu-bar ul li:hover
 {
     background: #14a099 ;
     border-radius: 3px; 
     transition: 1s;
 }
 .manu-bar .fa{
     margin-right:8px ;
 }
 .sub-menu-1{
     display: none;
 }
 .manu-bar ul li:hover .sub-menu-1 
 {
     display: block;
     position: absolute;
     background-color: lightslategray;
     transition: 1s;
     margin-top: 15px;
     margin-left: -15px;
 
 }
 .manu-bar ul li:hover .sub-menu-1 ul
 {
     display: block;
     margin: 10px;
 }
 .manu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted #fff ; 
    background: transparent;
    border-radius:0 ;
    text-align: left;
 }
 .manu-bar ul li:hover .sub-menu-1 ul li:last-child{
     border-bottom: none;
 }
 .manu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:lightcoral ; 
 }
 .sub-menu-2
 {
     display: none;
 
 }
 .hover-me:hover .sub-menu-2
 {
 
     position: absolute;
     display: block;
     margin-top: -40px;
     margin-left: 140px;
     background-color:lightslategray ;
     transition: 1s;
 }
 #logo{
     display: inline-block;
     height: 40px;
     width: 90px;
      margin-left: -70px;
     
     
 }
 #ser{
     display:inline-block;
     margin-top: 20px;
  
     border-top: 2px transparent;
     border-bottom: 2px transparent;
     width: 1360px;
     height: 100px;
     text-align: center;
 padding-top: 35px;
     background-color: lightslategray;
     
 color: white;
 font-size:190% ;
 }
 /* contentent */


.hero_wrapper{
    color:white;
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);
}
.hero_wrapper{
    font-size: 1.4rem;
    text-align: center;
    
}

.form_code{
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;

}
.form_code button{
width: 40%;


text-align: center;
background-color: #00bab1;
color: white;
padding: .6rem;
margin: .6rem auto 0rem;
border: none;
border-radius: .3rem;


}

/* circles */
#b2    {
    padding: 3px;
    

    margin-top: 530px;
    margin-left: 80px;
    display: inline-block;
    width:1400px;
    height: 350px; 

    
} 
#c1{
    
    border: 1px ;
    display: inline-block;
    border: groove;
    border-color: rgb(10, 240, 228);
    border-radius: 160px;
    
    width: 320px;
height: 320px;
margin-left: 40px;
padding: 3px;

}
#c2
{
    
    border: 1px ;
    display: inline-block;
    border: groove;
    border-color: lightseagreen;
    width: 200px;
    border-radius: 160px;
height: 200px;
margin-left: 40px;
padding: 3px;
}
#c3{
   
    border: 1px  ;
    
    display: inline-block;
    border: groove;
    border-color: lightseagreen;
    width: 200px;
    border-radius: 160px;
height: 220px;
padding: 3px;

margin-left: 60px;
}
#c4{
    border: 1px ;
    display: inline-block;
    border: groove;
    border-color: lightseagreen;
    width: 200px;
    border-radius: 160px;
height: 220px;
padding: 3px;
margin-left: 60px;

}
#tx1{
       
    
margin-left:210px;;
font-size: 30px;
color: lightslategray;
font-family: cursive;
text-shadow: 2px 2px lightskyblue;

}
 #tx2{
       
    

margin-left:190px;;
font-size: 22px;
color: lightslategray;

font-family: cursive;
text-shadow: 2px 2px lightskyblue; 
 }
 #tx3{
       
    

    margin-left:220px;;
    font-size: 22px;
    color: lightslategray;
    
    font-family: cursive;
    text-shadow: 2px 2px lightskyblue;
 }
 #tx4{
       
    

    margin-left:150px;;
    font-size: 22px;
    color: lightslategray;
    
    font-family: cursive;
    text-shadow: 2px 2px lightskyblue; 
     
 }
.text{
    margin-top: 30px;
    margin-left: 60px;
}

#b3
{ 
padding: 3px;
border: 1px solid black;
margin-top: 60px;
margin-left: 140px;
display: inline-block;
width: 300px;
height: 300px;}
#b4{
   
    padding: 3px;
    border: 1px solid black;
    margin-top: 60px;
    margin-left: 100px;
    
    display: inline-block;
    width: 300px;
    height: 300px;
    }
         
    
#b5{
   
    padding: 3px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 100px;
    
    display: inline-block;
    width: 300px;
    height: 300px;
    }
      
#b6{
   
    padding: 3px;
    border: 1px solid black;
    margin-top: 160px;
    margin-left: 140px;
    display: inline-block;
    width: 300px;
    height: 300px;
    }
    #b7{
       
        padding: 3px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 100px;
        
        display: inline-block;
        width: 300px;
        height: 300px;
        }
             
        
    #b8{
       
        padding: 3px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 100px;
        
        display: inline-block;
        width: 300px;
        height: 300px;
        }
        
#b9{
   
    padding: 3px;
    border: 1px solid black;
    margin-top: 160px;
    margin-left: 140px;
    display: inline-block;
    width: 300px;
    height: 300px;
    }
    #b10{
       
        padding: 3px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 100px;
        
        display: inline-block;
        width: 300px;
        height: 300px;
        }
             
        
    #b11{
       
        padding: 3px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 100px;
        
        display: inline-block;
        width: 300px;
        height: 300px;
         }  
        .text1:hover{
            background:url(imges/student-849825_1920.jpg) ;
           
            background-position: center;
            transition: 4s;
        } 
        .text2:hover{
            background:url(imges/laptop-1209008_1280.jpg) ;
            background-size: cover;
            background-position: center;
            transition: 4s;
        }
        .text3:hover{
            background:url(imges/laptop-336373_1920.jpg) ;
           
            background-position: center;
            transition: 4s;
        } 
     
        
   
